---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1535091884'
      Etag:
      - W/"0a21409a777f5d42a1018500c5fee40f"
      Last-Modified:
      - Tue, 21 Aug 2018 17:50:34 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj/following{/other_user}","gists_url":"https://api.github.com/users/jtrtj/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrtj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtrtj/subscriptions","organizations_url":"https://api.github.com/users/jtrtj/orgs","repos_url":"https://api.github.com/users/jtrtj/repos","events_url":"https://api.github.com/users/jtrtj/events{/privacy}","received_events_url":"https://api.github.com/users/jtrtj/received_events","type":"User","site_admin":false,"name":"John
        Roemer","company":null,"blog":"","location":"Denver, CO","email":null,"hireable":null,"bio":null,"public_repos":38,"public_gists":0,"followers":5,"following":6,"created_at":"2017-08-27T19:18:21Z","updated_at":"2018-08-21T17:50:34Z","private_gists":11,"total_private_repos":0,"owned_private_repos":0,"disk_usage":20509,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 24 Aug 2018 05:24:47 GMT
- request:
    method: get
    uri: https://api.github.com/users/jtrtj/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1535091884'
      Etag:
      - W/"5f7fbf04cfa4ef74dd4f23c6afe9355b"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/31391433/repos?page=2>; rel="next", <https://api.github.com/user/31391433/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":141595977,"node_id":"MDEwOlJlcG9zaXRvcnkxNDE1OTU5Nzc=","name":"1804","full_name":"jtrtj/1804","owner":{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj/following{/other_user}","gists_url":"https://api.github.com/users/jtrtj/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrtj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtrtj/subscriptions","organizations_url":"https://api.github.com/users/jtrtj/orgs","repos_url":"https://api.github.com/users/jtrtj/repos","events_url":"https://api.github.com/users/jtrtj/events{/privacy}","received_events_url":"https://api.github.com/users/jtrtj/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jtrtj/1804","description":null,"fork":true,"url":"https://api.github.com/repos/jtrtj/1804","forks_url":"https://api.github.com/repos/jtrtj/1804/forks","keys_url":"https://api.github.com/repos/jtrtj/1804/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jtrtj/1804/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jtrtj/1804/teams","hooks_url":"https://api.github.com/repos/jtrtj/1804/hooks","issue_events_url":"https://api.github.com/repos/jtrtj/1804/issues/events{/number}","events_url":"https://api.github.com/repos/jtrtj/1804/events","assignees_url":"https://api.github.com/repos/jtrtj/1804/assignees{/user}","branches_url":"https://api.github.com/repos/jtrtj/1804/branches{/branch}","tags_url":"https://api.github.com/repos/jtrtj/1804/tags","blobs_url":"https://api.github.com/repos/jtrtj/1804/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jtrtj/1804/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jtrtj/1804/git/refs{/sha}","trees_url":"https://api.github.com/repos/jtrtj/1804/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jtrtj/1804/statuses/{sha}","languages_url":"https://api.github.com/repos/jtrtj/1804/languages","stargazers_url":"https://api.github.com/repos/jtrtj/1804/stargazers","contributors_url":"https://api.github.com/repos/jtrtj/1804/contributors","subscribers_url":"https://api.github.com/repos/jtrtj/1804/subscribers","subscription_url":"https://api.github.com/repos/jtrtj/1804/subscription","commits_url":"https://api.github.com/repos/jtrtj/1804/commits{/sha}","git_commits_url":"https://api.github.com/repos/jtrtj/1804/git/commits{/sha}","comments_url":"https://api.github.com/repos/jtrtj/1804/comments{/number}","issue_comment_url":"https://api.github.com/repos/jtrtj/1804/issues/comments{/number}","contents_url":"https://api.github.com/repos/jtrtj/1804/contents/{+path}","compare_url":"https://api.github.com/repos/jtrtj/1804/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jtrtj/1804/merges","archive_url":"https://api.github.com/repos/jtrtj/1804/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jtrtj/1804/downloads","issues_url":"https://api.github.com/repos/jtrtj/1804/issues{/number}","pulls_url":"https://api.github.com/repos/jtrtj/1804/pulls{/number}","milestones_url":"https://api.github.com/repos/jtrtj/1804/milestones{/number}","notifications_url":"https://api.github.com/repos/jtrtj/1804/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jtrtj/1804/labels{/name}","releases_url":"https://api.github.com/repos/jtrtj/1804/releases{/id}","deployments_url":"https://api.github.com/repos/jtrtj/1804/deployments","created_at":"2018-07-19T15:07:15Z","updated_at":"2018-07-19T15:07:16Z","pushed_at":"2018-07-19T15:06:55Z","git_url":"git://github.com/jtrtj/1804.git","ssh_url":"git@github.com:jtrtj/1804.git","clone_url":"https://github.com/jtrtj/1804.git","svn_url":"https://github.com/jtrtj/1804","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":138822272,"node_id":"MDEwOlJlcG9zaXRvcnkxMzg4MjIyNzI=","name":"activerecord_exploration","full_name":"jtrtj/activerecord_exploration","owner":{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj[...]
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author:jtrtj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1535088345'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.cloak-preview; format=json
      Link:
      - <https://api.github.com/search/commits?q=author%3Ajtrtj&page=2>; rel="next",
        <https://api.github.com/search/commits?q=author%3Ajtrtj&page=32>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":934,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/jtrtj/personal_site_2/commits/5b3a14de2a58786c5726f3f60d40894515f1260a","sha":"5b3a14de2a58786c5726f3f60d40894515f1260a","node_id":"MDY6Q29tbWl0MTM4NTE0ODEyOjViM2ExNGRlMmE1ODc4NmM1NzI2ZjNmNjBkNDA4OTQ1MTVmMTI2MGE=","html_url":"https://github.com/jtrtj/personal_site_2/commit/5b3a14de2a58786c5726f3f60d40894515f1260a","comments_url":"https://api.github.com/repos/jtrtj/personal_site_2/commits/5b3a14de2a58786c5726f3f60d40894515f1260a/comments","commit":{"url":"https://api.github.com/repos/jtrtj/personal_site_2/git/commits/5b3a14de2a58786c5726f3f60d40894515f1260a","author":{"date":"2018-06-24T16:56:39.000-04:00","name":"jtrtj","email":"jt.r@live.com"},"committer":{"date":"2018-06-24T16:56:39.000-04:00","name":"jtrtj","email":"jt.r@live.com"},"message":"initial
        commit","tree":{"url":"https://api.github.com/repos/jtrtj/personal_site_2/git/trees/cf13afeb72b41e470c98c73600b8392d646f61f7","sha":"cf13afeb72b41e470c98c73600b8392d646f61f7"},"comment_count":0},"author":{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj/following{/other_user}","gists_url":"https://api.github.com/users/jtrtj/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrtj/sta[...]
