---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/commits?q=author:jtrtj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1535088345'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.cloak-preview; format=json
      Link:
      - <https://api.github.com/search/commits?q=author%3Ajtrtj&page=2>; rel="next",
        <https://api.github.com/search/commits?q=author%3Ajtrtj&page=32>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":934,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/jtrtj/personal_site_2/commits/5b3a14de2a58786c5726f3f60d40894515f1260a","sha":"5b3a14de2a58786c5726f3f60d40894515f1260a","node_id":"MDY6Q29tbWl0MTM4NTE0ODEyOjViM2ExNGRlMmE1ODc4NmM1NzI2ZjNmNjBkNDA4OTQ1MTVmMTI2MGE=","html_url":"https://github.com/jtrtj/personal_site_2/commit/5b3a14de2a58786c5726f3f60d40894515f1260a","comments_url":"https://api.github.com/repos/jtrtj/personal_site_2/commits/5b3a14de2a58786c5726f3f60d40894515f1260a/comments","commit":{"url":"https://api.github.com/repos/jtrtj/personal_site_2/git/commits/5b3a14de2a58786c5726f3f60d40894515f1260a","author":{"date":"2018-06-24T16:56:39.000-04:00","name":"jtrtj","email":"jt.r@live.com"},"committer":{"date":"2018-06-24T16:56:39.000-04:00","name":"jtrtj","email":"jt.r@live.com"},"message":"initial
        commit","tree":{"url":"https://api.github.com/repos/jtrtj/personal_site_2/git/trees/cf13afeb72b41e470c98c73600b8392d646f61f7","sha":"cf13afeb72b41e470c98c73600b8392d646f61f7"},"comment_count":0},"author":{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj/following{/other_user}","gists_url":"https://api.github.com/users/jtrtj/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrtj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtrtj/subscriptions","organizations_url":"https://api.github.com/users/jtrtj/orgs","repos_url":"https://api.github.com/users/jtrtj/repos","events_url":"https://api.github.com/users/jtrtj/events{/privacy}","received_events_url":"https://api.github.com/users/jtrtj/received_events","type":"User","site_admin":false},"committer":{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj/following{/other_user}","gists_url":"https://api.github.com/users/jtrtj/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrtj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtrtj/subscriptions","organizations_url":"https://api.github.com/users/jtrtj/orgs","repos_url":"https://api.github.com/users/jtrtj/repos","events_url":"https://api.github.com/users/jtrtj/events{/privacy}","received_events_url":"https://api.github.com/users/jtrtj/received_events","type":"User","site_admin":false},"parents":[],"repository":{"id":138514812,"node_id":"MDEwOlJlcG9zaXRvcnkxMzg1MTQ4MTI=","name":"personal_site_2","full_name":"jtrtj/personal_site_2","owner":{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj/following{/other_user}","gists_url":"https://api.github.com/users/jtrtj/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrtj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtrtj/subscriptions","organizations_url":"https://api.github.com/users/jtrtj/orgs","repos_url":"https://api.github.com/users/jtrtj/repos","events_url":"https://api.github.com/users/jtrtj/events{/privacy}","received_events_url":"https://api.github.com/users/jtrtj/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jtrtj/personal_site_2","description":null,"fork":false,"url":"https://api.github.com/repos/jtrtj/personal_site_2","forks_url":"https://api.github.com/repos/jtrtj/personal_site_2/forks","keys_url":"https://api.github.com/repos/jtrtj/personal_site_2/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jtrtj/personal_site_2/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jtrtj/personal_site_2/teams","hooks_url":"https://api.github.com/repos/jtrtj/personal_site_2/hooks","issue_events_url":"https://api.github.com/repos/jtrtj/personal_site_2/issues/events{/number}","events_url":"https://api.github.com/repos/jtrtj/personal_site_2/events","assignees_url":"https://api.github.com/repos/jtrtj/personal_site_2/assignees{/user}","branches_url":"https://api.github.com/repos/jtrtj/personal_site_2/branches{/branch}","tags_url":"https://api.github.com/repos/jtrtj/personal_site_2/tags","blobs_url":"https://api.github.com/repos/jtrtj/personal_site_2/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jtrtj/personal_site_2/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jtrtj/personal_site_2/git/refs{/sha}","trees_url":"https://api.github.com/repos/jtrtj/personal_site_2/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jtrtj/personal_site_2/statuses/{sha}","languages_url":"https://api.github.com/repos/jtrtj/personal_site_2/languages","stargazers_url":"https://api.github.com/repos/jtrtj/personal_site_2/stargazers","contributors_url":"https://api.github.com/repos/jtrtj/personal_site_2/contributors","subscribers_url":"https://api.github.com/repos/jtrtj/personal_site_2/subscribers","subscription_url":"https://api.github.com/repos/jtrtj/personal_site_2/subscription","commits_url":"https://api.github.com/repos/jtrtj/personal_site_2/commits{/sha}","git_commits_url":"https://api.github.com/repos/jtrtj/personal_site_2/git/commits{/sha}","comments_url":"https://api.github.com/repos/jtrtj/personal_site_2/comments{/number}","issue_comment_url":"https://api.github.com/repos/jtrtj/personal_site_2/issues/comments{/number}","contents_url":"https://api.github.com/repos/jtrtj/personal_site_2/contents/{+path}","compare_url":"https://api.github.com/repos/jtrtj/personal_site_2/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jtrtj/personal_site_2/merges","archive_url":"https://api.github.com/repos/jtrtj/personal_site_2/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jtrtj/personal_site_2/downloads","issues_url":"https://api.github.com/repos/jtrtj/personal_site_2/issues{/number}","pulls_url":"https://api.github.com/repos/jtrtj/personal_site_2/pulls{/number}","milestones_url":"https://api.github.com/repos/jtrtj/personal_site_2/milestones{/number}","notifications_url":"https://api.github.com/repos/jtrtj/personal_site_2/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jtrtj/personal_site_2/labels{/name}","releases_url":"https://api.github.com/repos/jtrtj/personal_site_2/releases{/id}","deployments_url":"https://api.github.com/repos/jtrtj/personal_site_2/deployments"},"score":20.100204},{"url":"https://api.github.com/repos/Salamandastron1/portfolios-students-1806-tim-garrity-/commits/41b750c02c9bfd51739629a02cb4c521f2f30acf","sha":"41b750c02c9bfd51739629a02cb4c521f2f30acf","node_id":"MDY6Q29tbWl0MTQzMjU3NTgxOjQxYjc1MGMwMmM5YmZkNTE3Mzk2MjlhMDJjYjRjNTIxZjJmMzBhY2Y=","html_url":"https://github.com/Salamandastron1/portfolios-students-1806-tim-garrity-/commit/41b750c02c9bfd51739629a02cb4c521f2f30acf","comments_url":"https://api.github.com/repos/Salamandastron1/portfolios-[...]
