<header class="center px3 py4 white bg-black bg-cover bg-center">
  <h1 class="h1 h0-responsive caps mt4 mb0 regular">Dark Hub</h1>
  <p class="h3">Welcome <%= link_to  "Login with GitHub", github_auth_path %> to view your GitHub but darker.</p>
</header>