<section class="hero is-dark is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-italic">
        Dark Hub
      </h1>
      <h2 class="subtitle">
        Welcome to your GitHub profile but darker.
      </h2>
      <h2 class="subtitle">
        <%= link_to  "Login with GitHub", github_auth_path, class: "button is-info" %> 
      </h2>
    </div>
  </div>
</section>