---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1535091884'
      Etag:
      - W/"0a21409a777f5d42a1018500c5fee40f"
      Last-Modified:
      - Tue, 21 Aug 2018 17:50:34 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jtrtj","id":31391433,"node_id":"MDQ6VXNlcjMxMzkxNDMz","avatar_url":"https://avatars3.githubusercontent.com/u/31391433?v=4","gravatar_id":"","url":"https://api.github.com/users/jtrtj","html_url":"https://github.com/jtrtj","followers_url":"https://api.github.com/users/jtrtj/followers","following_url":"https://api.github.com/users/jtrtj/following{/other_user}","gists_url":"https://api.github.com/users/jtrtj/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrtj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtrtj/subscriptions","organizations_url":"https://api.github.com/users/jtrtj/orgs","repos_url":"https://api.github.com/users/jtrtj/repos","events_url":"https://api.github.com/users/jtrtj/events{/privacy}","received_events_url":"https://api.github.com/users/jtrtj/received_events","type":"User","site_admin":false,"name":"John
        Roemer","company":null,"blog":"","location":"Denver, CO","email":null,"hireable":null,"bio":null,"public_repos":38,"public_gists":0,"followers":5,"following":6,"created_at":"2017-08-27T19:18:21Z","updated_at":"2018-08-21T17:50:34Z","private_gists":11,"total_private_repos":0,"owned_private_repos":0,"disk_usage":20509,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 24 Aug 2018 05:24:51 GMT
recorded_with: VCR 4.0.0
